.bg
{
    background-color:#111f4d;
    color:white;
}
.bg1
{
    background-color:#f2f4f7;
    color:#111f4d;
}
.bg2
{
    background-color:#111f4d;
    color:white;
}
.container-fluid
{
    padding-top: 70px;
    padding-bottom: 70px;
}
.bg3
{
    
    background-color:#f2f4f7;
    color:#111f4d;
}